table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px 8px;
  font-size: 0.8rem;
  width: 33.33%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
